In [1]:
import pandas as pd
df = pd.read_csv(r"C:\Users\Naveen\Desktop\data sets\Social_Network_Ads.csv")
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [2]:
x=df.iloc[:,2:4].values
y=df.iloc[:,4].values

In [3]:
from sklearn.model_selection import train_test_split

In [4]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=0)

standerdisation of features

In [5]:
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()

In [6]:
x_train=ss.fit_transform(x_train)
x_test=ss.fit_transform(x_test)
x_test.shape

(100, 2)

In [7]:
from sklearn.linear_model import LogisticRegression

In [8]:
lor=LogisticRegression(random_state=0)

In [9]:
lor.fit(x_train,y_train)

LogisticRegression(random_state=0)

In [10]:
y_pred=lor.predict(x_test)
y_pred

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1], dtype=int64)

In [11]:
y_test

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1], dtype=int64)

In [12]:
from sklearn import metrics

In [13]:
metrics.accuracy_score(y_pred,y_test)

0.87

In [14]:
metrics.confusion_matrix(y_pred, y_test)

array([[63,  8],
       [ 5, 24]], dtype=int64)

In [15]:
lor.predict(ss.transform([[55,56000]]))

array([1], dtype=int64)

In [16]:
lor.predict(ss.transform([[36, 19000]]))

array([0], dtype=int64)