In [1]:
import pandas as pd
df = pd.read_csv(r"C:\Users\Naveen\Desktop\data sets\advertising.csv")
df

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3   12.0
3    151.5   41.3       58.5   16.5
4    180.8   10.8       58.4   17.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1   14.0
197  177.0    9.3        6.4   14.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   18.4

[200 rows x 4 columns]

In [2]:
x=df.iloc[:,0:3].values#for all three features
y=df.iloc[:,3].values

In [13]:
x1=df.iloc[:,0].values.reshape(-1,1)#for tv feature
y1=df.iloc[:,3].values

In [20]:
x2 = df.iloc[:, 0:2].values  # for tv and radio features
y2 = df.iloc[:, 3].values

In [3]:
x.shape

(200, 3)

In [4]:
from sklearn.linear_model import LinearRegression

In [6]:
lin.fit(x,y)

LinearRegression()

In [14]:
lin.fit(x1,y1)

LinearRegression()

In [21]:
lin.fit(x2,y2)

LinearRegression()

In [9]:
y_pred=lin.predict(x)

In [17]:
y1_pred=lin.predict(x1)

In [22]:
y2_pred = lin.predict(x2)

In [10]:
from sklearn import metrics

In [11]:
metrics.mean_absolute_error(y,y_pred)

1.2363919943957848

In [18]:
metrics.mean_absolute_error(y1, y1_pred)

1.8305872641932417

In [23]:
metrics.mean_absolute_error(y2, y2_pred)

1.2367636706717362

In [12]:
df.corr()

                 TV     Radio  Newspaper     Sales
TV         1.000000  0.054809   0.056648  0.901208
Radio      0.054809  1.000000   0.354104  0.349631
Newspaper  0.056648  0.354104   1.000000  0.157960
Sales      0.901208  0.349631   0.157960  1.000000